{% extends 'mailings/base.html' %}

{% block title %}
Профиль {{ user.email }}
{% endblock %}

{% block content %}
<div class="text-center">
    <h1>
        Профиль
    </h1>
  <p>Это ваш профиль. Здесь вы можете посмотреть вашу информацию, а также информацию о количестве успешных/неуспешных</p>
      <p>попыток рассылок и количестве отправленных сообщений.</p>
  {% if perms.user.can_view_all_users %}
  <a href="/user/">
      <button type="button" class="btn btn-outline-info btn-sm">Список пользователей</button>
  </a>
  {% endif %}
</div>
<div>
  <p>Аватар: <img src="{{ user.avatar }}" style="width: 50px" alt="{{ user.email }}"></p>
  <p>Email: {{ user.email }}</p>
  <p>Номер телефона: {{ user.phone_number|default:"-" }}</p>
  <p>Страна: {{ user.country|default:"-" }}</p>
  <a class="link" href="/user/{{ user.id }}/update/">Редактировать</a>
  <p>Кол-во успешных рассылок: {{ successful_attempts }} </p>
  <p>Кол-во не успешных рассылок: {{ unsuccessful_attempts }} </p>
  <p>Кол-во отправленных сообщений: {{ user.count_sent_messages }}</p>
</div>
{% endblock %}