SECRET_KEY=(секретный ключ для файла settings.py в директории config)

DEBUG=(True или False)

DATABASE_NAME=(Имя вашей базы данных)
DATABASE_USER=(Имя пользователя вашей базы данных)
DATABASE_PASSWORD=(Пароль от вашей базы данных)
DATABASE_HOST=(Хост для подключения к вашей базе данных)
DATABASE_PORT=(Порт для подключения к вашей базе данных)

EMAIL_HOST=(Хост для подключения к вашему почтовому сервису)
EMAIL_PORT=(Порт для вашего почтового сервиса)
EMAIL_HOST_USER=(Почта вашего почтового сервиса)
EMAIL_HOST_PASSWORD=(Пароль вашего почтового сервиса)

CACHES_BACKEND=(Бэкенд для кеша)
CACHES_LOCATION=(Расположение сервера)