{% extends 'mailings/base.html' %}

{% block title %}Клиенты{% endblock %}

{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1>Список ваших клиентов</h1>
    <a class="btn btn-outline-light me-2" href="/mailing_recipient/create/">Добавить клиента</a>
</div>
<div class="row px-5 py-3 pb-md-4">
    {% for recipient in object_list %}
    <p>email: {{ recipient.email }} </p>
    <p>Ф.И.О.: {{ recipient.full_name }}</p>
    <a href="/mailing_recipient/{{ recipient.id }}">
        <button type="button" class="btn btn-lg btn-block btn-light">Подробнее</button>
    </a>
    {% endfor %}
</div>
{% endblock %}