{% extends 'mailings/base.html' %}

{% block title %}
{% if object %}
Редактирование сообщения
{% else %}
Новое сообщение
{% endif %}
{% endblock %}

{% block content %}
<form method="post" action="" class="form-floating">
    {% csrf_token %}
    {{ form.as_p }}
    {% if object %}
    <button type="submit" class="btn btn-success">Сохранить изменения</button>
    <a class="link" href="/message/">
        <button type="button" class="btn btn-danger">Отмена</button>
    </a>
    {% else %}
    <button type="submit" class="btn btn-success">Создать сообщение</button>
    {% endif %}
</form>
{% endblock %}